<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfnew.mapper.UserMapper">
    <select id="countByUsername" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE username = #{username}
    </select>

    <delete id="physicalDeleteUserRolesByUsername">
        DELETE ur FROM t_user_role ur
        INNER JOIN t_user u ON ur.user_id = u.id
        WHERE u.username = #{username} AND u.deleted = 1
    </delete>

    <delete id="physicalDeleteByUsername">
        DELETE FROM t_user WHERE username = #{username} AND deleted = 1
    </delete>
</mapper>
