MYSQL_HOST=bj-cynosdbmysql-grp-q7xgsuf2.sql.tencentcdb.com
MYSQL_PORT=21671
MYSQL_DATABASE=hfcc
MYSQL_USERNAME=root
MYSQL_PASSWORD=

APP_JWT_ACCESS_SECRET=CHANGE_ME_ACCESS_SECRET_CHANGE_ME_ACCESS_SECRET
APP_JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET_CHANGE_ME_REFRESH_SECRET
APP_JWT_ACCESS_TTL_SECONDS=900
APP_JWT_REFRESH_TTL_SECONDS=1209600
APP_JWT_ISSUER=hfnew-backend

APP_SECURITY_ALLOWED_ORIGINS=http://www.ahylcc.cn,https://www.ahylcc.cn,http://localhost:5173

